/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} /* Fine Reset */

body {
    font-size: 16px;
}

.sfondo-header{
    height: 80px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 15%;
}
